
{% block body %}
    <h1>Palette</h1>

    <table>
        <tbody>
        <tr>
            <th>Palette numero </th>
            <td>{{ palette.numLot }}</td>
        </tr>

        <tr>
            <th>Date d'expiration</th>
            <td>{% if palette.dateExpiration %}{{ palette.dateExpiration|date('Y-m-d') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>


{% endblock %}